<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a routerLink="/" class="navbar-brand">Portfolio</a>

  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="users" class="nav-link">Users app</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="testing" class="nav-link">Testing app</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="roulette" class="nav-link">Roulette app</a>
      </li>
    </ul>
  </div>
</nav>
