<div class="border rounded-lg mb-2 p-2" (click)="addUserToGroup()">
  <div class="row">
    <span class="col-sm-2">Name:</span>
    <span class="col-sm-10">{{user.name}}</span>
  </div>
  <div class="row">
    <span class="col-sm-2">Email:</span>
    <span class="col-sm-10">{{user.email}}</span>
  </div>
  <div class="row">
    <span class="col-sm-2">Status:</span>
    <span class="col-sm-10">{{user.isActive ? 'Active' : 'Inactive'}}</span>
  </div>
  <div class="row">
    <span class="col-sm-2">Role:</span>
    <span class="col-sm-10">{{user.role}}</span>
  </div>
</div>
